body {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.card-deck .card {
  height: 100%; }
  .card-deck .card .card-text {
    min-height: 10rem;
    max-height: 160px;
    overflow: hidden; }
  .card-deck .card .card-title {
    height: 56px;
    overflow: hidden; }

.sidebar-module-inset {
  padding: 1rem;
  background-color: #e9ecef;
  border-radius: .25rem; }
